# MongoDB
DB_NAME=
DB_URL=

#Server
PORT=

# JWT
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# Email
MAIL_USER=
MAIL_PASS=

#Redis
REDIS_URL=